body {
  background-color: #1e1e1e;
  color: white;
  font-family: 'Libre Baskerville', serif;
}

.fa {
  padding: 20px;
  width: 125px;
  height: 125px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-linkedin {
  background: #858585;
  color: white;
  font-size: 300px;
  position: relative;
  left: 450px;
  top: -25px;
}

.fa-google {
  background: #858585;
  color: white;
  font-size: 300px;
  position: relative;
  left: 1075px;
  top: -25px;
}

.fa-facebook {
  color: white;
  position: relative;
  left: 60px;
}

.fa-twitter {
  position: relative;
  left: 50px;
  color: white;
}

.fa-linkedin-in {
  color: white;
  position: relative;
  left: 425px;
}

h1 {
  text-align: center;
  font-style: bold;
  font-size: 500%;
}

h2 {
  text-align: center;
  padding-top: 25px;
}

h3 {
  padding-left: 25px;
  padding-top: 25px;
  font-size: 40px;
  font-weight: 700;
}

.LargerText {
  font-size: 18px;
}

.jobtitle {
  font-weight: 700;
  font-size: 35px;
  padding-top: 25px;
  padding-left: 35px;
}

.organization {
  font-size: 25px;
  padding-left: 35px;
}

.date {
  font-size: 20px;
  padding-left: 35px;
  padding-top: 5px;
  font-style: italic;
}

p {
  font-size: 135%;
  padding-left: 50px;
  padding-top: 20px;
  padding-right: 100px;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.JobLogo {
  width: 450px;
  height: 450px;
  position: relative;
  left: 200px;
  top: 50px;
  margin-bottom: -50px;
}

.SectionBreak {
  line-height: 750%;
  background-color: #1e1e1e;
}

.divider {
width: 0px;
height: 440px;
border-left: 20px solid #1e1e1e;
}

.divider2 {
width: 0px;
height: 350px;
border-left: 20px solid #1e1e1e;
}

.container-fluid {
  position: relative;
  top: 300px;
  width: 100%;
  background-color: #353535;
}

.AddPadding {
  padding-left: 120px;
  font-size: 25px;
}

.AddPadding2 {
  margin-left: -35px;
  padding-bottom: 25px;
  text-align: center;
}

.AddPadding3 {
  text-align: center;
  margin-left: -300px;
}

.SkillTitle {
  text-decoration: underline;
}

.SectionHeading {
  position: relative;
  top: 300px;
  text-decoration: underline;
}

.Topper {
  margin-top: -100px;
  position: relative;
  top: 0;
  left: 0;
  border-bottom: 5px solid white;
}

.Headshot {
  align-content: center;
  width: 100%;
  height: auto;
  position: relative;
  top: -300px;
  left: 0;
  margin-bottom: -550px;
}

.parent {
  position: relative;
 top: 0;
 left: 0;
}


@media (max-width: 575px) {
}

@media (max-width: 767px) {
  .Headshot {
    width: 0%;
    height: auto;
    align-content: center;
  }
  .fa-google {
    width: 0%;
  }
  .fa-linkedin {
    width: 0%;
  }
  .divider {
    height: 0%;
  }
  .divider2 {
    height: 0%;
  }
}

@media (max-width: 991px) {
  .Headshot {
    width: 50%;
    height: auto;
    align-content: center;
  }
  .fa-google {
    width: 0%;
  }
  .fa-linkedin {
    width: 0%;
  }
  .divider {
    height: 0%;
  }
  .divider2 {
    height: 0%;
  }
}

@media (max-width: 1199px) { ... }
