.whole {
  margin-left: 450px;
  margin-right: 450px;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 25px;

}

h2 {
  font-family: 'Lora', serif;
  font-size: 18px;
}

body {
  font-family: 'Helvetica', arial, sans-serif;
  font-size: 12px;
}

img {
  display: block;
  margin: auto;
  width: 600px;
}
