#whole {
  margin-left: 525px;
  margin-right: 525px;
}

#byline {
  font-family: 'Helvetica', arial, sans-serif;
  font-size: 14px;
}

blockquote {
  color: purple;
  font-family: 'Lora', serif;
  font-size: 16px;
  border-left: 4px solid purple;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 25px;

}

h2 {
  font-family: 'Lora', serif;
  font-size: 18px;
}

h3 {
  font-family: 'Helvetica', arial, sans-serif;
  font-size: 8px;
}

h5 {
  font-family: 'Lora', serif;
  font-size: 14px;
}

body {
  font-family: 'Helvetica', arial, sans-serif;
  font-size: 12px;
}

img {
  display: block;
  margin: auto;
  width: 600px;
}
